<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <app-button-panel></app-button-panel>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-input-panel></app-input-panel>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-button-panel></app-button-panel>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-input-panel></app-input-panel>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-button-panel></app-button-panel>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-input-panel></app-input-panel>
  </mat-grid-tile>
</mat-grid-list>

